# Ignore everything by default
/*

# Allow the .gitignore itself
!.gitignore

# --- ALLOW LIST
!zathura/
!mpv/
!fish/
!nvim/
!kitty/
!sway/
!waybar/
!niri/
!tmux/
!fastfetch/
!btop/
!rofi/
!starship.toml
!scripts/
!hypr/

# do not allow
**/.DS_Store
**/node_modules/
**/__pycache__/
**/*.log
**/cloud/
**/.python_history
**/nohup.out
